@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --font-outfit: 'Outfit', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --body-color: #000235;
    --nav-color: #F8F0F0;
    --btn-color: #8D8CDA;
    --btn-color-1: hsla(225, 94%, 7%, 1);
    --btn-boder-color: #87CFD0;
    --second-color: hsla(246, 29%, 43%, 0.26);
    --third-color: hsla(241, 57%, 19%, 1);
    --linear-color: linear-gradient(279.56deg, rgba(113, 255, 255, 0.33) 9.13%, rgba(122, 121, 225, 0.58) 74.31%);
    --circle1-color: #8D8CDA;
    --circle2-color: rgba(146, 203, 204, 0.53);
    --circle1-blur: 250px;
    --circle2-blur: 200px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--body-color);
}
.container {
    width: 74%;
}


.circle1 {
    position: absolute;
    width: 564px;
    height: 552px;
    left: calc(50% - 564px/2 - 163px);
    top: -300px;
    background: #8D8CDA;
    filter: blur(250px);
}
.circle2 {
    position: absolute;
    width: 564px;
    height: 552px;
    left: calc(50% - 564px/2 + 770px);
    top: 261px;
    background: rgba(146, 203, 204, 0.53);
    filter: blur(200px);
}